{% extends 'base.html' %}

{% block title %}
<title>
    Створити
</title>
{% endblock %}

{% block main %}
<h1 class="h3 my-5 fw-normal">Створити</h1>

<form method="post" class="needs-validation" novalidate>
    <div class="mt-2 mb-1">
        <label for="name" class="form-label">Назва</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="Введіть назву кімнати" required>
        <div class="invalid-feedback">Введіть дані!</div>
    </div>
    <button class="w-100 btn btn-lg btn-primary mt-1" type="submit">Створити</button>
</form>
{% endblock %}
